.locator-search {
  width: 100%;
  max-width: none;

  input[type="submit"],
  input[type="reset"] {
    float: none;
  }

  input.form-control {
    box-sizing: border-box;
  }

  fieldset {
    @include make-row;

    .form-group {
      @include make-col-ready;
      @include make-col(12);

      width: auto;
    }

    .address-input, .radius-dropdown {
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }

    select {
      max-width: none;
    }

  }
}
