// ==================
// == Modal Window ==
// ==================
#overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: url(../../images/overlay-bg.png) repeat;
}

#modal-window {
  position: absolute;
  left: 50%;
  margin-left: -460px; /* width divided by 2 */
  margin-top: 60px;
  width: 920px;
  height: 590px;
  z-index: 10010;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #656565;
}

#modal-content {
  padding: 0 22px; /* there's already a margin on the top of the map-container div */
}

#close-icon {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: #2c2c2c url(../../images/close-icon.png) 3px 3px no-repeat;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 3px #656565;
}
