---
Name: locator
---
Dynamic\Locator\Location:
  extensions:
    - Dynamic\SilverStripeGeocoder\DistanceDataExtension
    - Dynamic\SilverStripeGeocoder\AddressDataExtension
    - SilverStripe\Versioned\Versioned('Stage','Live')

Dynamic\Locator\GraphQL\Controller:
  schema:
    scaffolding:
      types:
        Dynamic\Locator\Location:
          fields:
            ID: 'The unique identifier of the location'
            Title: 'The title of the location'
            Featured: 'If the location is featured'
            Website: 'The website of the location'
            Phone: 'The phone number of the location'
            Email: 'The email of the location'
            Address: 'The address of the location'
            Address2: 'The second line of the address of the location'
            City: 'The city the location is in'
            State: 'The state the location is in'
            PostalCode: 'The postal code of the location'
            Country: 'The country the location is in'
            Lat: 'The latitude of the location'
            Lng: 'The longitude of the location'
            distance: 'Calculated distance from a given address. Returns 0 when there is no given address'
            Category: 'The category of the location'
          operations:
            read:
              resolver: 'Dynamic\Locator\GraphQL\Resolvers\LocationResolver'
              args:
                radius:
                  type: String
                  default: '0'
                  description: 'The radius to look for locations in around address'
                address:
                  type: String
                  default: ''
                  description: 'The address to search around'
                unit:
                  type: String
                  default: ''
                  description: 'The unit to get the distance in'
                featured:
                  type: Boolean
                  default: false
                  description: 'If the locations should be featured'
                category:
                  type: String
                  default: ''
                  description: 'The category to get locations in'
        Dynamic\Locator\LocationCategory:
          fields:
            ID: 'The ID of the category'
            Name: 'The name of the category'
          operations:
            read:
              args:
                id:
                  type: String
                  default: ''
                  description: 'The id of the category to get'
                name:
                  type: String
                  default: ''
                  description: 'The name of the category to get'
        Dynamic\Locator\LocatorSettings:
          fields:
            Radii: 'The list of radii to show'
            # TODO - fill out more

      queries:
        locatorSettings:
          type: Dynamic\Locator\LocatorSettings
          paginated: false
          resolver: Dynamic\Locator\GraphQL\Resolvers\SettingsResolver
